.App {
  text-align: center;
}

/* h1{

  text-align: center;
  width: 60%;



}

div{

  display: flex;
  flex-direction: column;
  justify-content:left;
  text-align: left;
  font-size: large;
} */
